h1 {
    color: #344256;
    font-size: 2.25rem;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: #ffffff;
    font-size: 2.25rem;
    font-family: 'Poppins', sans-serif;
    padding-top: 48px;
}

h3 {
    color: #344256;
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

h5 {
    font-size: 1.125rem;
    color: #344256;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1a212b;
}

label {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.content {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

a:link {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

.header_bg {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 6px 0px rgba(234, 237, 239, 0.004);
}

header {
    position: relative;
    align-items: center;
    line-height: 80px;
}

header img {
    margin-top: -40px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.625rem;
    margin-left: 1.5rem;
}

header nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
    position: absolute;
    top: 95px;
    left: 0;
    background-color: #fff;
    width: 100vw;
    z-index: 1;
    margin-right: 40px;
}

hr.solid {
    border-width: 1px;
    border-color: #d3d3d3;
    border-style: solid;
}
  
.nav-links > li > a:link {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #344256;
    font-weight: bold;
    margin-left: 1.5rem;
}

.show-nav {
    max-height: 350px;
}

.header-container button {
    background: none;
    border: none;
    margin-top: 8px;
}

section:first-of-type {
    background-color: #ffffff;
    height: 220px;
    display: flex;
    align-items: center;
}
section:first-of-type button {
    background-color: rgb(52, 66, 86);
  }
  

input[type="search"] {
    border-width: 1px;
    border-color: rgb(52, 66, 86);
    border-style: solid;
    border-radius: 10px;
    height: 39px;
    width: 100%;
}

section:nth-of-type(2) {
    background-color: #344256;
    padding-bottom: 48px;
}

.white-p {
    color: #ffffff;
    margin-bottom: 30px;
}

.yellow-btn {
    border-radius: 10px;
    border: none;
    background-color: rgb(243, 217, 0);
    width: 194px;
    height: 59px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #344256;
}

.white-bg {
    background-color: #ffffff;
    padding: 3.125rem 0.75rem;
}

.white-bg p {
    color: #344256;
    margin-top: 20px;
    margin-bottom: 30px;
}

.white-bg a {
    text-decoration: 2px underline #f3d900;
    font-weight: bold;
    text-underline-offset: 6px;
}

a:visited {
    color: #344256;
    text-decoration: #f3d900;
}

section:nth-of-type(3) h1 {
    padding-top: 48px;
}

.scroll-area {
    display: flex;
    align-items: center;
    overflow: scroll;
    /* this hides the scrollbar in FireFox */
    scrollbar-width: none;
    height: 300px;
}

.scroll-area::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

.scroll-area > div {
    flex: 0 0 330px;
}


.scroll-area img {
    margin-right: 5px;
    height: 110px;
    width: 110px;
}

section:nth-of-type(4) {
    background-color: #eaedef;
}

section:nth-of-type(4) h1 {
    padding-top: 48px;
}

section:nth-of-type(4) p {
    margin-bottom: 30px;
}

section:nth-of-type(4) img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 

section:nth-of-type(4) .yellow-btn {
    margin-bottom: 48px;
}

.card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 3px 6px 0px rgba(234, 237, 239, 0.004);
    margin-top: 48px;
    margin-bottom: 48px;
    align-items: center;
}

.card-content {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.card-content h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.card-content p {
    padding-bottom: 30px;
}

.card-column .white-bg:first-of-type {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-column-two .white-bg:last-of-type {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

section:nth-of-type(5) {
    background-color: #344256;
}

section:nth-of-type(5) input {
    margin-top: 30px;
    margin-bottom: 48px;
    border-width: 2px;
    border-color: rgb(234, 237, 239);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: 37px;
    width: auto;
}
  
li {
    list-style-type: none;
}

footer li a {
    margin-left: -40px;
}

.email-link a {
    text-decoration: 2px underline #f3d900;
    text-underline-offset: 6px;
}

.footer-bg {
    background-color: #344256;
    padding-top: 2.125rem;
    padding-bottom: 2.125rem;
    padding-left: 1.5rem;
}

.footer-bg p {
    color: #ffffff;
}

/********** How it works **********/

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.bg-img {
    background-image: url("../img/form-bg-sm.jpeg");
    background-repeat: no-repeat;
    height: 237px;
    display: flex;
}

form p {
    padding-left: 0.75rem;
}

fieldset {
    border: none;
}

label {
    display: block;
}

form input,
textarea {
    border-width: 1px;
    border-color: rgb(193, 196, 198);
    border-style: solid;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
}

input[type="submit"] {
    border-radius: 10px;
    border: none;
    background-color: rgb(243, 217, 0);
    width: 194px;
    height: 59px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #344256;
}

footer .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    overflow: none;
}

.img-logo {
    margin-top: 48px;
}

.footer-link {
    margin-bottom: 50px;
}

footer .content div {
    width: 100%;
}
@media only screen and (max-width: 749px) {
    .card-container {
        margin-top: 1.5rem;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1159px) {

    h1, h2 {
        font-size: 48px;
    }

    .button-in input[type="search"] {
        width: 100%;
    }
      
    .card {
        max-width: 43.875; /* 702px */
        display: flex;
    }

    picture {
        flex: 0 1 52.7%;
    }

    .heading-container {
        margin: 0.75rem;
    }

    section:nth-of-type(2) .content{
        margin: 0.75rem;
    }

    .card-container {
        display: flex;
        flex-direction: column;
    }

    .card-column {
        display: flex;
        flex-direction: row;
    }

    .card-column-two {
        display: flex;
        flex-direction: row;
    }

    .card-content {
        flex: 1 1 47%;
    }

    .white-bg {
        border-radius: 10px;
        margin: 0.75rem;
        height: 340px;
        width: 340px;
    }

    section:nth-of-type(4) img {
        border-top-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    } 

    section:nth-of-type(5) input {
        width: 683px;
    }

    .img-logo {
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 0;
    }

    footer .content div {
        width: 25%;
    }
}

@media only screen and (min-width: 1160px) {
    header img {
        margin-top: 0;
    }

    .hamburger-btn {
        display: none;
    }

    header nav {
        max-height: 5rem;
        overflow: visible;
        position: static;
        width: auto;
    }

    .nav-links,
    header {
        display: flex;
        justify-content: space-between;
    }

    .nav-links > li > a:link {
        font-size: 18px;
    }

    hr {
        visibility: hidden;
    }

    h1, h2 {
        font-size: 48px;
    }

    section:nth-of-type(2) .content{
        display: flex;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        min-width: 765px;
        margin-top: 30px;

    }

    .card-column {
        display: flex;
        flex-direction: row;
    }

    .card-column-two {
        display: flex;
        flex-direction: row;
    }

    section:nth-of-type(4) .card {
        display: flex;
        flex-direction: row;
    }

    section:nth-of-type(5) input {
        width: 570px;
    }

    .white-bg {
        border-radius: 10px;
        margin: 0.75rem;
        height: 370px;
        width: 370px;
    }

    .heading-container {
        min-width: 200px;
        margin: 0.75rem;
    }

    footer .content div {
        width: 25%;
    }

    .img-logo {
        margin-top: 40px;
    }

    .footer-link {
        margin-top: 20px;
    }
    

    /******** how it works ******/

    fieldset {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    fieldset div {
        flex: 0 1 49%
    }

    .flex-container div {
        display: flex;
        flex-direction: row;
    }
}