h1 {
    color: #344256;
    font-size: 2.25rem;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: #ffffff;
    font-size: 2.25rem;
    font-family: 'Poppins', sans-serif;
}

h3 {
    color: #344256;
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

h5 {
    font-size: 1.125rem;
    color: #344256;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1a212b;
}

label {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.content {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

a:link {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

.header_bg {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 6px 0px rgba(234, 237, 239, 0.004);
}

header {
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.625rem;
    margin-left: 1.5rem;
}

header nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
    position: absolute;
    top: 95px;
    left: 0;
    background-color: #fff;
    width: 100vw;
    z-index: 1;
}

hr.solid {
    border-width: 1px;
    border-color: #d3d3d3;
    border-style: solid;
}
  
.nav-links > li > a:link {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #344256;
    font-weight: bold;
    margin-left: 1.5rem;
}

.show-nav {
    max-height: 350px;
}

.header-container button {
    background: none;
    border: none;
}

section:first-of-type {
    background-color: #ffffff;
    height: 220px;
    display: flex;
    align-items: center;
}

section:nth-of-type(2) {
    background-color: #344256;
    padding-bottom: 48px;
}

.white-p {
    color: #ffffff;
}

.yellow-btn {
    border-radius: 10px;
    border: none;
    background-color: rgb(243, 217, 0);
    width: 194px;
    height: 59px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #344256;
    margin-bottom: 1.5rem;
}

.white-bg {
    background-color: #ffffff;
    padding: 3.125rem 0.75rem;
}

.white-bg p {
    color: #344256;
}

.white-bg a {
    text-decoration: 2px underline #f3d900;
    font-weight: bold;
    text-underline-offset: 6px;
}

.white-bg:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.white-bg:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

a:visited {
    color: #344256;
    text-decoration: #f3d900;
}

.scroll-area {
    background-color: #ffffff;
    height: 407px;
    display: flex;
    overflow: scroll;
    justify-content: space-around center;
    padding: 5px;
    align-items: center;
}

.scroll-area div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.scroll-area div div{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
}


.scroll-area > div {
    flex: 0 0 220px;
    height: 220px;
}

.scroll-area img {
    margin-right: 5px;
    height: 110px;
    width: 110px;
}

section:nth-of-type(4) {
    background-color: #eaedef;
}

section:nth-of-type(4) img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 

.card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 3px 6px 0px rgba(234, 237, 239, 0.004);
}

.card-content {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

section:nth-of-type(5) {
    background-color: #344256;
}
  
li {
    list-style-type: none;
}

footer li a {
    margin-left: -40px;
}

.email-link a {
    text-decoration: 2px underline #f3d900;
    text-underline-offset: 6px;
}



.footer-bg {
    background-color: #344256;
    padding-top: 2.125rem;
    padding-bottom: 2.125rem;
}

.footer-bg p {
    color: #ffffff;
}

/********** How it works **********/

.bg-img {
    background-image: url("../img/form-bg-sm.jpeg");
    background-repeat: no-repeat;
    height: 237px;
    display: flex;
}

form p {
    padding-left: 0.75rem;
}

fieldset {
    border: none;
}

label {
    display: block;
}

form input,
textarea {
    border-width: 1px;
    border-color: rgb(193, 196, 198);
    border-style: solid;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    height: 40px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

input[type="submit"] {
    border-radius: 10px;
    border: none;
    background-color: rgb(243, 217, 0);
    width: 194px;
    height: 59px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #344256;
}

footer .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    overflow: none;
}

footer .content div {
    width: 100%;
}

@media only screen and (min-width: 750px) and (max-width: 1159px) {
    .card {
        max-width: 43.875; /* 702px */
        display: flex;
    }

    picture {
        flex: 0 1 52.7%;
    }

    .card-content {
        flex: 1 1 47%;
    }

    .img-logo {
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    footer .content div {
        width: 25%;
    }
}

@media only screen and (min-width: 1160px) {
    .hamburger-btn {
        display: none;
    }

    header nav {
        max-height: 5rem;
        overflow: visible;
        position: static;
        width: auto;
    }

    .nav-links,
    header {
        display: flex;
        justify-content: space-between;
    }
    
    hr {
        visibility: hidden;
    }

    section:nth-of-type(4) {
        display: flex;
        flex-direction: row-reverse;
    }
    

    /******** how it works ******/

    fieldset {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    fieldset div {
        flex: 0 1 49%
    }
}